/* Header */

header {
display: flex;
font-family: Verdana;
font-size: 14px;
font-weight: bold;
align-items: center;
position: fixed;
border-bottom: 1px solid black;
width: 100%;
height: 80px;
z-index: 1;
}

.logo span {
  color: mediumaquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  border: solid thin;
}

header nav {
  padding-right: 50px;
  }

  a {
  color: black;
  }

  /* Main Content Container */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  border: solid thin;
}

.lead-story {
  border: solid medium;
}

/* First News Column */

.column.large {
  width: 630px;
}
